/* ubuntu-mono-regular - cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Ubuntu Mono';
	font-style: normal;
	font-weight: 400;
	src: url('./assets/fonts/ubuntu-mono-v15-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext/ubuntu-mono-v15-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
		 url('./assets/fonts/ubuntu-mono-v15-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext/ubuntu-mono-v15-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  /* ubuntu-mono-italic - cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext */
  @font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Ubuntu Mono';
	font-style: italic;
	font-weight: 400;
	src: url('./assets/fonts/ubuntu-mono-v15-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext/ubuntu-mono-v15-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext-italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
		 url('./assets/fonts/ubuntu-mono-v15-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext/ubuntu-mono-v15-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext-italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  /* ubuntu-mono-700 - cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext */
  @font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Ubuntu Mono';
	font-style: normal;
	font-weight: 700;
	src: url('./assets/fonts/ubuntu-mono-v15-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext/ubuntu-mono-v15-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
		 url('./assets/fonts/ubuntu-mono-v15-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext/ubuntu-mono-v15-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  /* ubuntu-mono-700italic - cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext */
  @font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Ubuntu Mono';
	font-style: italic;
	font-weight: 700;
	src: url('./assets/fonts/ubuntu-mono-v15-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext/ubuntu-mono-v15-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext-700italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
		 url('./assets/fonts/ubuntu-mono-v15-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext/ubuntu-mono-v15-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext-700italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  